<div class="flex flex-col px-20">
    <div class="flex justify-center">
        <img class="rotate-180 w-[105px] relative top-5" src="{{site.baseurl}}assets/images/motif-pixelated.png">
    </div>
    <div class="flex items-center font-[Instrument_Serif] text-white h-20">
        <div class="mx-5">
            <img class="w-[30px]" src="{{ site.baseurl }}assets/images/dot_pixelated.png" />
        </div>
        {% if include.year %}
            <div class="text-[48px] mr-6 flex justify-center items-center relative bottom-1">
            year
            </div>
        {% endif %}
        <div class="border-t-1 border-white flex-grow"></div>
        {% if include.year %}
        <div class="text-[48px] ml-6 flex justify-center items-center">
            {{ include.year }}
        </div>
        {% endif %}
        <div class="mx-5">
            <img class="w-[30px]" src="{{ site.baseurl }}assets/images/dot_pixelated.png" />
        </div>
    </div>
    <div class="flex justify-center">
        <img class="relative bottom-5 w-[105px]" src="{{site.baseurl}}assets/images/motif-pixelated.png">
    </div>
<div>