<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saniya Murdeshwar | Portfolio Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">
    <link href="{{site.baseurl}}assets/css/rotating.css" rel="stylesheet">
    <link href="{{site.baseurl}}assets/css/fitview.css" rel="stylesheet">
    <link href="{{site.baseurl}}assets/css/navbaroffsetcenter.css" rel="stylesheet">
    <link href="{{site.baseurl}}assets/css/fadein.css" rel="stylesheet">
    <link href="{{site.baseurl}}assets/css/bg-gradient-animation.css" rel="stylesheet">
    <link href="{{site.baseurl}}assets/css/bg-image-scroll.css" rel="stylesheet">
    <link href="{{site.baseurl}}assets/css/global.css" rel="stylesheet">
    <link href="{{site.baseurl}}assets/css/lifafa-animation.css" rel="stylesheet">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script defer src="{{site.baseurl}}assets/js/imageSwitch.js"></script>
    <style>
        body {background-color: black;}
    </style>
</head>