<div class="font-[Instrument_Serif] w-full h-[50px] md:text-[24px] text-[18px] text-white flex items-center justify-center my-8">
    <div class="flex flex-row items-center">
        <div class="select-none">
            work
        </div>
        <div class="h-full w-[15px] aspect-square mx-3">
            <img src="assets/images/dot_pixelated.png" />
        </div>
        <div class="font-[Instrument_Serif]">
            contact
        </div>
        <div class="h-full w-[15px] aspect-square mx-3">
            <img src="assets/images/dot_pixelated.png" />
        </div>
        <div class="select-none">
            <a href="/about">
                about me
            </a>
        </div>
    </div>
</div>