@keyframes lifafa-card-animation {
    0% {
        scale: 1;
    }
    100% {
        /* left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto; */
        scale: 2;
    }
}

.lifafa-card {
    animation-name: lifafa-card-animation;
    animation-timing-function: linear;
    animation-timeline: view();
    z-index: 1;
}