@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes reverse-rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(-360deg);
    }
}


@-webkit-keyframes rotating-card {
    from{
        -webkit-transform: rotate(-3deg);
    }
    to{
        -webkit-transform: rotate(5deg);
    }
}

.rotating {
    -webkit-animation: rotating 20s linear infinite;
}

.reverse-rotating {
    -webkit-animation: reverse-rotating 20s linear infinite;
}

.rotating-card {
    -webkit-animation: rotating-card 10s ease-in-out infinite;
    -webkit-animation-direction: alternate;
}

.reverse-rotating-card {
    -webkit-animation: rotating-card 10s ease-in-out infinite;
    -webkit-animation-direction: alternate-reverse;
}
