<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saniya Murdeshwar | Portfolio Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <style>
        body {background-color: black;}
    </style>
</head>
<body>
    <div class="w-full h-[50px] text-[24px] text-white flex items-center justify-center">
        <div class="flex flex-row items-center">
            <div class="font-[Instrument_Serif]">
                work
            </div>
            <div class="h-full w-[15px] aspect-square mx-3">
                <img src="/assets/images/dot_pixelated.png" />
            </div>
            <div class="font-[Instrument_Serif]">
                contact
            </div>
            <div class="h-full w-[15px] aspect-square mx-3">
                <img src="/assets/images/dot_pixelated.png" />
            </div>
            <div class="font-[Instrument_Serif]">
                about me
            </div>
        </div>
    </div>
    <div class="font-[Instrument_Serif] text-white mt-20 overflow-hidden">
        <div class="grid grid-cols-4 bg-blue">
            <div class="col-span-1 relative results">
                <div class="w-[600px] absolute right-30 origin-center rotate-20">
                    <img src="/assets/images/flower_pixelated.png" />
                </div>
            </div>
            <div class="col-span-2 flex flex-col justify-center">
                <div class="text-[96px] flex justify-center">
                    <!-- The font has empty space in its graphic that is apparent even with 0 margin. This counteracts it -->
                    <div class="relative top-10">
                        Saniya 
                    </div>
                </div>
                <div class="text-[96px] flex justify-center">
                    Murdeshwar
                </div>
                <div class="text-[36px] flex justify-center text-balance text-center">
                    Mumbai-based design enthusiast who geeks out over fonts, frames, and illustrations.
                </div>
            </div>
            <div class="col-span-1 relative left-30">
                <div class="w-[600px] origin-center rotate-20">
                    <img src="/assets/images/flower_pixelated.png" />
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="max-w-screen px-20 text-white font-[Instrument_Serif] mt-20">
        <div class="text-[64px]">
            works
        </div>
        <div class="flex flex-col">
            <div class="grid grid-cols-10 gap-5">
                <div class="col-span-6 rounded-3xl h-[586px] bg-[#600000] overflow-hidden relative hover:cursor-pointer">
                    <div class="bg-black transition-opacity ease-in-out duration-300 opacity-0 hover:opacity-40 absolute w-full h-full"></div>
                    <div class="absolute top-10 left-10 lg:text-[40px] text-[28px]">
                        typography    
                    </div>
                    <img class="w-full h-full object-cover" src="assets/images/illustration1.png" />
                </div>
                <div class="col-span-4 rounded-3xl h-[586px] bg-white overflow-hidden relative hover:cursor-pointer">
                    <div class="bg-black transition-opacity ease-in-out duration-300 opacity-0 hover:opacity-40 absolute w-full h-full"></div>
                    <div class="absolute top-10 left-10 lg:text-[40px] text-[28px]">
                        photography
                    </div>
                    <img class="w-full h-full object-cover" src="assets/images/photography1.png" />  
                </div>
            </div>
            <div class="grid grid-cols-10 gap-5 mt-5">
                <div class="col-span-10 rounded-3xl h-[586px] bg-white">
                    
                </div>
            </div>
            <div class="grid grid-cols-10 gap-5 mt-5">
                <div class="col-span-6 rounded-3xl h-[586px] bg-white">

                </div>
                <div class="col-span-4 rounded-3xl h-[586px] bg-white">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>