<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include navbar.html %}
    <div class="font-[Instrument_Serif] text-white mt-4 overflow-hidden py-5">
        <div class="grid grid-cols-4 bg-blue">
            <div class="col-span-1 relative results select-none">
                <div class="xl:w-[600px] md:w-[400px] w-[300px] absolute xl:right-30 lg:right-15 right-10 origin-center rotating">
                    <img src="assets/images/flower_pixelated.png" />
                </div>
            </div>
            <div class="col-span-2 flex flex-col justify-center">
                <div class="xl:text-[96px] md:text-[70px] text-[50px] xl:leading-24 md:leading-17 leading-12 flex justify-center text-center mb-5">
                        Saniya <br>
                        Murdeshwar
                </div>
                <div class="xl:text-[36px] md:text-[26px] text-[19px] xl:leading-10 md:leading-8 leading-5 flex justify-center text-balance text-center italic">
                    Mumbai-based design enthusiast who geeks out over fonts, frames, and illustrations.
                </div>
            </div>
            <div class="col-span-1 relative xl:left-30 lg:left-15 left-10 select-none">
                <div class="xl:w-[600px] md:w-[400px] w-[300px] origin-center reverse-rotating">
                    <img src="assets/images/flower_pixelated.png" />
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="max-w-screen md:px-20 px-5 text-white font-[Instrument_Serif] mt-20">
        <div class="md:text-[64px] text-[47px]">
            works
        </div>
        <div class="flex flex-col">
            <div class="grid grid-cols-10 md:grid-rows-1 grid-rows-2 gap-5 h-[580px] min-h-[580px]">
                <div class="md:col-span-6 col-span-10 rounded-3xl bg-[#600000] overflow-hidden relative hover:cursor-pointer">
                    <div class="bg-black transition-opacity ease-in-out duration-300 opacity-0 hover:opacity-85 absolute w-full h-full">
                        <div class="text-[40px] w-full h-full flex justify-center items-center">
                            typography    
                        </div>
                    </div>
                    <img class="w-full h-full object-cover" src="assets/images/illustration1.png" />
                </div>
                <div class="md:col-span-4 col-span-10 rounded-3xl bg-white overflow-hidden relative hover:cursor-pointer">
                    <a href="/photography">
                        <div class="bg-black transition-opacity ease-in-out duration-300 opacity-0 hover:opacity-85 absolute w-full h-full">
                            <div class="text-[40px] w-full h-full flex justify-center items-center">
                            photography 
                            </div>
                        </div>
                        <img class="w-full h-full object-cover" src="assets/images/photography/photography1.png" />  
                    </a>
                </div>
            </div>
            <div class="grid grid-cols-10 gap-5 mt-5">
                <div class="col-span-10 rounded-3xl h-[586px] bg-white">
                    
                </div>
            </div>
            <div class="grid grid-cols-10 gap-5 mt-5">
                <div class="col-span-6 rounded-3xl h-[586px] bg-white">

                </div>
                <div class="col-span-4 rounded-3xl h-[586px] bg-white">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>